<!DOCTYPE html>
<html>
  <head>
    <title>JobListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <style>
        .container {
         padding: 80px 120px;
         }
         .carousel-inner > .item > img{
           width:1200px;
           height:560px;
         }
         .carousel-caption {
           top:0；
           bottom:auto;
         }
         .thumbnail {
           margin:50px 10px 0px;
           padding:20px 20px 20px;
           border-style: none;
         }
         .thumbnail-caption {
           text-align: center;
           border-style: none;
         }


       </style>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= yield %>
    </div>
    <%= render "common/footer" %>

  </body>
</html>
